<mat-tab-group>
  <mat-tab label="Administrateurs" *ngIf="loginService.role.valueOf() === 'ADMIN'">
    <div class="container">

      <table mat-table [dataSource]="dataSourceAdmin" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> N°</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i}}</td>
        </ng-container>

        <ng-container matColumnDef={{elt.name}} *ngFor="let elt of tableHeaderAdmin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> {{elt.label}}</th>
          <!--<td mat-cell *matCellDef="let element" [style.color]="element.activated ? 'green':'red'"> {{element[elt.name]}} </td>-->
          <td mat-cell *matCellDef="let element"> {{element[elt.name]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmins"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmins;"></tr>
      </table>
    </div>


  </mat-tab>

  <mat-tab label="Fournisseur" *ngIf="loginService.role.valueOf() === 'ADMIN'">

    <div class="container">



      <table mat-table [dataSource]="dataSourceSupplier" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> N°</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i}}</td>
        </ng-container>

        <ng-container matColumnDef={{elt.name}} *ngFor="let elt of tableHeaderSupplier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> {{elt.label}}</th>
          <!--<td mat-cell *matCellDef="let element" [style.color]="element.activated ? 'green':'red'"> {{element[elt.name]}} </td>-->
          <td mat-cell *matCellDef="let element"> {{element[elt.name]}} </td>
        </ng-container>

        <ng-container matColumnDef="affectSupplier">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header > </th>
          <td mat-cell *matCellDef="let row" >
            <button mat-stroked-button color="warn" (click)="affectSupplier(row)"
            *ngIf="suppliersSRM">Affect</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSuppliers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSuppliers;"></tr>
      </table>
    </div>

  </mat-tab>


  <mat-tab label="Contactes">

    <div class="container">
      <button mat-stroked-button color="warn" (click)="addContact()" *ngIf="loginService.isSupplier()">Ajouter</button>

      <table mat-table [dataSource]="dataSourceContact" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> N°</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i}}</td>
        </ng-container>

        <ng-container matColumnDef={{elt.name}} *ngFor="let elt of tableHeaderContacts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> {{elt.label}}</th>
          <!--<td mat-cell *matCellDef="let element" [style.color]="element.activated ? 'green':'red'"> {{element[elt.name]}} </td>-->
          <td mat-cell *matCellDef="let element"> {{element[elt.name]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsContacts"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsContacts;"></tr>
      </table>
    </div>

  </mat-tab>
</mat-tab-group>
