th.mat-sort-header-sorted {
  color: black;
}
table {
  width: 100%;
  transition: none !important;
  box-shadow: none !important;
}
.container{
  width: 90%;
  margin: auto;
  padding: 10px;
}
.custom_pagination{
  background: white;
}

th.mat-header-cell {
  text-align: center;
}

td {
  text-align: center;
}







